* {
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #f0f0f0;
}

/*header*/

header {
  width: 100%;

  color: whitesmoke;
  background-color: #d2d2d2;
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
}

header h1 {
  font-size: 6em;
  text-decoration: none;
  color: rgb(201, 50, 50);

  font-weight: bolder;
}

header h4 {
  font-size: 3em;
  text-decoration: none;
  color: rgb(201, 73, 73);
  font-weight: bolder;
  margin-right: 7%;
  text-align: right;
  font-style: italic;
}

header p {
  color: black;
  font-size: 1.5em;
}

/*navigacijska traka*/

nav {
  background-color: #dcdbdb;
  list-style-type: none;
  margin: 10px auto;
  height: auto;
  /* width: 99%; */
  /* border-width: 2px;
  border-color: #a29999;
  border-style: solid; */
}

nav ul {
  margin: 0 auto;

  display: flex;
  justify-content: center;
  gap: 50px;
}
nav li {
  display: inline;
}

nav li a {
  color: #2e2c2c;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: lighter;
  overflow: hidden;
}

nav .current a {
  color: rgb(201, 73, 73);
}

nav li a:hover {
  opacity: 0.5;
}

/*welcome picture*/

.container {
  max-height: 700px;
  background: url("../images/nacrt3.jpeg") no-repeat 0;
  background-size: 100% 100%;

  color: rgb(201, 73, 73);
  overflow: hidden;
}

.container h1 {
  font-size: 50px;
  text-decoration: none;
  color: rgb(233, 233, 233);
  font-weight: bolder;
  text-align: center;
  margin-top: 14%;
}
.container h2 {
  font-size: 40px;
  text-decoration: none;
  color: rgb(233, 233, 233);
  font-weight: lighter;
  text-transform: uppercase;

  text-align: center;
  margin-top: 20px;
}

.image-container {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 100px;
}

/*recenica*/

.news-title {
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;

  background-color: whitesmoke;
  color: rgb(201, 73, 73);
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-color: #a29999;
  border-style: solid;
}

/*articles*/

.article-container {
  width: 100%;
  min-height: 300px;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: row;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: whitesmoke;
  overflow: hidden;
  margin: auto;
}

.a-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: white;
}

.a-container:hover {
  opacity: 0.7;
}

.a-img-container {
  flex: 0.6;
}

.a-img-container img {
  margin-top: 40px;
  margin-left: 45%;
}

.a-text-containter {
  flex: 1;
  text-align: center;
}

.a-text-containter h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: rgb(201, 73, 73);
  padding-top: 5px;
  padding-bottom: 20px;
}

.a-text-containter p {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 12px;
  font-size: 18px;
  font-weight: lighter;
  color: rgb(44, 44, 44);
}

/*footer*/

footer {
  width: 100%;
  min-height: 110px;
  background-color: rgb(145, 144, 144);
}

.google-container {
  padding-top: 15px;
  width: 105px;
  display: flex;
  flex-direction: row;
}

.google-logo {
  flex: 1;
}

.maps-logo {
  flex: 1;
}

.google-logo img {
  max-width: 100%;
  height: 45px;
  float: left;
  border-radius: 20px;
  border: 3px solid rgb(190, 176, 42);
}

.maps-logo img {
  max-width: 100%;
  height: 45px;
  float: left;
  border-radius: 20px;
  border: 3px solid rgb(39, 46, 148);
}

.maps-logo :hover {
  opacity: 0.5;
}

.google-logo :hover {
  opacity: 0.5;
}

.copyright-text {
  width: 100%;
  height: 12px;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 5px;
}

/*newsletter*/

.newsletter {
  padding: 15px;
  background-color: rgb(177, 177, 177);
  color: rgb(201, 73, 73);
  min-height: 180px;
}

.newsletter h1 {
  float: left;
  margin-top: 100px;
}

.newsletter form {
  float: right;
  margin-top: 100px;
  margin-right: 50px;
}

.newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

.subscribe {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

/*o nama*/

.about-container {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: row;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: lightslategrey;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: lightslategrey;
}

.onama-img-container {
  background-image: url(../images/nacrt2.jpeg);
  background-size: cover;
  background-position: center;
  flex: 1;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: lightslategrey;
}

.onama-text-container {
  background-color: rgb(214, 214, 214);
  flex: 1;
  color: rgb(126, 63, 63);
  text-align: center;
  padding-top: 50px;
}

.onama-text-container p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 35px;
}

/*galerija*/

.kontejner > div {
  /*border-radius: 20px;*/
  margin: 20px;
  /*background-color: rgb(180, 180, 180);*/
  border: 6px solid white;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.kontejner > div img {
  width: 100%;
  /*filter: grayscale(100%);*/
}
.kontejner > div img:hover {
  opacity: 0.7;
  /* transform: scale(1.1);*/
  /*border: 6px solid white;*/
  /*z-index: 10;*/
  /* filter: grayscale(0%);*/
}

.kontejner {
  background-color: rgb(219, 219, 219);
  border-top: 2px solid rgb(182, 80, 80);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.show {
  z-index: 999;
  display: none;
}
.show .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 0;
  left: 0;
}
.show .img-show {
  width: 35vw;
  height: 45vw;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.img-show span {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
  cursor: pointer;
}
.img-show img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 760px) {
  nav ul {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  header h1 {
    font-size: 3.5em;
  }
  header h4 {
    font-size: 2em;
  }
  .container h1 {
    font-size: 30px;
  }
  .container h2 {
    font-size: 20px;
  }

  .article-container {
    flex-direction: column;
  }
  .a-container {
    padding-bottom: 20px;
    border-bottom: solid 2px white;
  }
  .about-container {
    flex-direction: column;
  }
  .onama-img-container {
    height: 100%;
  }

  .kontejner {
    grid-template-columns: 1fr;
  }
  .show .img-show {
    width: 90vw;
    height: 120vw;
  }
}
